## Preprocessing

In [ ]:
### Import our dependencies

In [ ]:
import pandas as pd

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
import tensorflow as tf

2023-05-24 22:47:55.377116: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace =  ['T9', 'T13', 'T12', 'T2','T25', 'T14', 'T15', 'T29', 'T17', 'T10']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300',
                              'C1280', 'C1230', 'C1400', 'C2300', 'C7200', 'C1240', 'C8000', 'C7120',
                              'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1278', 'C1238', 'C1235',
                              'C1237', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600', 'C1260', 'C0',
                              'C2710', 'C1246', 'C1234', 'C1267', 'C1256', 'C3200', 'C2380', 'C8210', 'C4200',
                              'C1236', 'C1248', 'C1370', 'C1820', 'C2570', 'C6100', 'C1245', 'C1580', 'C1570',
                              'C1732', 'C2561', 'C4500', 'C2170', 'C2500', 'C2190', 'C1283', 'C4120',
                               'C5200', 'C1900', 'C2150','C2600', 'C1728', 'C3700', 'C7000', 'C1700']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
affiliation_dummies = pd.get_dummies(application_df['AFFILIATION'])
use_case_dummies = pd.get_dummies(application_df['USE_CASE'])
organization_dummies = pd.get_dummies(application_df['ORGANIZATION'])
special_consideration_dummies = pd.get_dummies(application_df['SPECIAL_CONSIDERATIONS'])
income_amount_dummies = pd.get_dummies(application_df['INCOME_AMT'])
application_type_dummies = pd.get_dummies(application_df['APPLICATION_TYPE'])
classification_dummies = pd.get_dummies(application_df['CLASSIFICATION'])

In [11]:
application_df = pd.concat([application_df, affiliation_dummies], axis=1)
application_df = pd.concat([application_df, use_case_dummies], axis=1)
application_df = pd.concat([application_df, organization_dummies], axis=1)
application_df = pd.concat([application_df, special_consideration_dummies], axis=1)
application_df = pd.concat([application_df, income_amount_dummies], axis=1)
application_df = pd.concat([application_df, application_type_dummies], axis=1)
application_df = pd.concat([application_df, classification_dummies], axis=1)
application_df.drop(['AFFILIATION', 'USE_CASE','ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT', 'APPLICATION_TYPE', 'CLASSIFICATION'], axis=1, inplace=True)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,CompanySponsored,Family/Parent,Independent,National,Other,Regional,CommunityServ,...,T5,T6,T7,T8,C1000,C1200,C2000,C2100,C3000,Other
0,1,5000,1,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,1,5000,0,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,1,6692,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])

In [13]:
X[:5]

,STATUS,ASK_AMT,CompanySponsored,Family/Parent,Independent,National,Other,Regional,CommunityServ,Heathcare,...,T5,T6,T7,T8,C1000,C1200,C2000,C2100,C3000,Other
0,1,5000,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,1,108590,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,1,5000,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,1,6692,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,1,142590,False,False,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,False

In [14]:
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [17]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

act_relu = "relu"
act_sig = "sigmoid"
act_tanh = 'tanh'

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation=act_sig, input_dim=42))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation=act_relu))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation=act_sig))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                1290

 dense_1 (Dense)             (None, 15)                465

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 1,771
Trainable params: 1,771
Non-trainable params: 0
_________________________________________________________________

2023-05-24 22:48:59.093465: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train.values, epochs=75)

Epoch 1/75
804/804 [==============================] - 1s 742us/step - loss: 0.5902 - accuracy: 0.7079
Epoch 2/75
804/804 [==============================] - 1s 672us/step - loss: 0.5670 - accuracy: 0.7278
Epoch 3/75
804/804 [==============================] - 1s 676us/step - loss: 0.5609 - accuracy: 0.7290
Epoch 4/75
804/804 [==============================] - 1s 686us/step - loss: 0.5577 - accuracy: 0.7301
Epoch 5/75
804/804 [==============================] - 1s 764us/step - loss: 0.5558 - accuracy: 0.7297
Epoch 6/75
804/804 [==============================] - 1s 687us/step - loss: 0.5541 - accuracy: 0.7313
Epoch 7/75
804/804 [==============================] - 1s 745us/step - loss: 0.5530 - accuracy: 0.7303
Epoch 8/75
804/804 [==============================] - 1s 664us/step - loss: 0.5518 - accuracy: 0.7309
Epoch 9/75
804/804 [==============================] - 1s 675us/step - loss: 0.5514 - accuracy: 0.7321
Epoch 10/75
804/804 [==============================] - 1s 665us/step - loss: 0.5508 - accuracy: 0.7315
Epoch 11/75
804/804 [==============================] - 1s 714us/step - loss: 0.5502 - accuracy: 0.7318
Epoch 12/75
804/804 [==============================] - 1s 671us/step - loss: 0.5497 - accuracy: 0.7317
Epoch 13/75
804/804 [==============================] - 1s 734us/step - loss: 0.5492 - accuracy: 0.7339
Epoch 14/75
804/804 [==============================] - 1s 737us/step - loss: 0.5487 - accuracy: 0.7324
Epoch 15/75
804/804 [==============================] - 1s 731us/step - loss: 0.5487 - accuracy: 0.7334
Epoch 16/75
804/804 [==============================] - 1s 696us/step - loss: 0.5480 - accuracy: 0.7334
Epoch 17/75
804/804 [==============================] - 1s 647us/step - loss: 0.5472 - accuracy: 0.7334
Epoch 18/75
804/804 [==============================] - 1s 642us/step - loss: 0.5478 - accuracy: 0.7339
Epoch 19/75
804/804 [==============================] - 1s 686us/step - loss: 0.5471 - accuracy: 0.7336
Epoch 20/75
804/804 [==============================] - 1s 693us/step - loss: 0.5469 - accuracy: 0.7337
Epoch 21/75
804/804 [==============================] - 1s 851us/step - loss: 0.5467 - accuracy: 0.7343
Epoch 22/75
804/804 [==============================] - 1s 866us/step - loss: 0.5465 - accuracy: 0.7338
Epoch 23/75
804/804 [==============================] - 1s 829us/step - loss: 0.5462 - accuracy: 0.7341
Epoch 24/75
804/804 [==============================] - 1s 804us/step - loss: 0.5456 - accuracy: 0.7338
Epoch 25/75
804/804 [==============================] - 1s 730us/step - loss: 0.5456 - accuracy: 0.7341
Epoch 26/75
804/804 [==============================] - 1s 749us/step - loss: 0.5458 - accuracy: 0.7347
Epoch 27/75
804/804 [==============================] - 1s 756us/step - loss: 0.5451 - accuracy: 0.7352
Epoch 28/75
804/804 [==============================] - 1s 730us/step - loss: 0.5448 - accuracy: 0.7364
Epoch 29/75
804/804 [==============================] - 1s 719us/step - loss: 0.5445 - accuracy: 0.7354
Epoch 30/75
804/804 [==============================] - 1s 670us/step - loss: 0.5448 - accuracy: 0.7343
Epoch 31/75
804/804 [==============================] - 1s 655us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 32/75
804/804 [==============================] - 1s 673us/step - loss: 0.5445 - accuracy: 0.7356
Epoch 33/75
804/804 [==============================] - 1s 649us/step - loss: 0.5439 - accuracy: 0.7348
Epoch 34/75
804/804 [==============================] - 1s 661us/step - loss: 0.5441 - accuracy: 0.7356
Epoch 35/75
804/804 [==============================] - 1s 655us/step - loss: 0.5439 - accuracy: 0.7355
Epoch 36/75
804/804 [==============================] - 1s 686us/step - loss: 0.5434 - accuracy: 0.7357
Epoch 37/75
804/804 [==============================] - 1s 692us/step - loss: 0.5434 - accuracy: 0.7364
Epoch 38/75
804/804 [==============================] - 1s 655us/step - loss: 0.5430 - accuracy: 0.7363
Epoch 39/75
804/804 [==============================] - 1s 655us/step - loss: 0.5432 - accuracy: 0.7366
Epoch 40/75
804/804 [==============================] - 1s 657us/step - loss: 0.5431 - accuracy: 0.7362
Epoch 41/75
804/804 [==============================] - 1s 707us/step - loss: 0.5432 - accuracy: 0.7370
Epoch 42/75
804/804 [==============================] - 1s 735us/step - loss: 0.5426 - accuracy: 0.7358
Epoch 43/75
804/804 [==============================] - 1s 775us/step - loss: 0.5429 - accuracy: 0.7358
Epoch 44/75
804/804 [==============================] - 1s 656us/step - loss: 0.5427 - accuracy: 0.7371
Epoch 45/75
804/804 [==============================] - 1s 654us/step - loss: 0.5423 - accuracy: 0.7355
Epoch 46/75
804/804 [==============================] - 1s 657us/step - loss: 0.5421 - accuracy: 0.7364
Epoch 47/75
804/804 [==============================] - 1s 661us/step - loss: 0.5422 - accuracy: 0.7371
Epoch 48/75
804/804 [==============================] - 1s 690us/step - loss: 0.5421 - accuracy: 0.7372
Epoch 49/75
804/804 [==============================] - 1s 705us/step - loss: 0.5420 - accuracy: 0.7373
Epoch 50/75
804/804 [==============================] - 1s 654us/step - loss: 0.5417 - accuracy: 0.7365
Epoch 51/75
804/804 [==============================] - 1s 654us/step - loss: 0.5417 - accuracy: 0.7366
Epoch 52/75
804/804 [==============================] - 1s 656us/step - loss: 0.5416 - accuracy: 0.7367
Epoch 53/75
804/804 [==============================] - 1s 664us/step - loss: 0.5418 - accuracy: 0.7378
Epoch 54/75
804/804 [==============================] - 1s 712us/step - loss: 0.5417 - accuracy: 0.7373
Epoch 55/75
804/804 [==============================] - 1s 655us/step - loss: 0.5411 - accuracy: 0.7370
Epoch 56/75
804/804 [==============================] - 1s 660us/step - loss: 0.5414 - accuracy: 0.7362
Epoch 57/75
804/804 [==============================] - 1s 658us/step - loss: 0.5414 - accuracy: 0.7376
Epoch 58/75
804/804 [==============================] - 1s 655us/step - loss: 0.5412 - accuracy: 0.7368
Epoch 59/75
804/804 [==============================] - 1s 657us/step - loss: 0.5410 - accuracy: 0.7377
Epoch 60/75
804/804 [==============================] - 1s 691us/step - loss: 0.5412 - accuracy: 0.7374
Epoch 61/75
804/804 [==============================] - 1s 657us/step - loss: 0.5409 - accuracy: 0.7382
Epoch 62/75
804/804 [==============================] - 1s 658us/step - loss: 0.5408 - accuracy: 0.7367
Epoch 63/75
804/804 [==============================] - 1s 673us/step - loss: 0.5411 - accuracy: 0.7375
Epoch 64/75
804/804 [==============================] - 1s 693us/step - loss: 0.5407 - accuracy: 0.7387
Epoch 65/75
804/804 [==============================] - 1s 656us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 66/75
804/804 [==============================] - 1s 655us/step - loss: 0.5404 - accuracy: 0.7380
Epoch 67/75
804/804 [==============================] - 1s 655us/step - loss: 0.5405 - accuracy: 0.7386
Epoch 68/75
804/804 [==============================] - 1s 654us/step - loss: 0.5403 - accuracy: 0.7384
Epoch 69/75
804/804 [==============================] - 1s 659us/step - loss: 0.5407 - accuracy: 0.7388
Epoch 70/75
804/804 [==============================] - 1s 659us/step - loss: 0.5403 - accuracy: 0.7387
Epoch 71/75
804/804 [==============================] - 1s 707us/step - loss: 0.5400 - accuracy: 0.7386
Epoch 72/75
804/804 [==============================] - 1s 731us/step - loss: 0.5404 - accuracy: 0.7380
Epoch 73/75
804/804 [==============================] - 1s 672us/step - loss: 0.5402 - accuracy: 0.7388
Epoch 74/75
804/804 [==============================] - 1s 659us/step - loss: 0.5401 - accuracy: 0.7384
Epoch 75/75
804/804 [==============================] - 1s 657us/step - loss: 0.5400 - accuracy: 0.7390

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5512 - accuracy: 0.7265 - 227ms/epoch - 848us/step
Loss: 0.5512331128120422, Accuracy: 0.7265306115150452

In [26]:
# Export our model to HDF5 file
nn.save("alphabet_model.h5")